.container{
    max-width: 50rem;
    /* width: 50vw; */
    width: 90%;
    height: 30rem;
    background-color: blueviolet;
     border: 1px solid black;
     margin: auto;
     margin-top: 2rem;
}
ul{
    list-style: none;
}

li{
display: flex;
}
.tshirt{
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.actions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
}

span{
   font-size: 1.2rem;
}